@model List<Product>
<section class="pt-0 home-section-3">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col pe-0">
                <div class="home-banner p-right">
                    <div class="contain-banner d-flex justify-content-end">
                        <div>
                            <span>تخفیف بهاری</span>
                            <h1>بهاری پر از هنر</h1>
                            <p>20% تخفیف ویژه بهار روی تمامی دوره های خوشنویسی. همین حالا .</p>
                            <div class="link-hover-anim underline">
                                <a href="#product-section">
                                    اکنون ثبت نام کنید
                                </a>
                            </div>
                        </div>
                    </div>
                    <img style="transform: scaleX(-1);" loading="eager" class="img-fluid" src="/assets/images/layout-3/2_2_11zon.webp" alt="بنر خانه">
                </div>
                <ul class="social-icon">
                    <li>
                        <a href="#">
                            <h6>ما را دنبال کنید</h6>
                        </a>
                    </li>
                    <li>
                        <a href="https://eitaa.com/nikoghalam" target="_blank" rel="noreferrer">
                            <img src="/assets/images/svg-icon/Eita.png" alt="Eitaa" style="width:15px;">
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>


<section class="section-t-space">
    <div class="custom-container container service">
        <ul>
            <li>
                <div class="service-block">
                    <img loading="lazy" src="../assets/images/svg-icon/1.svg" alt="">
                    <div>
                        <h6>حمل و نقل در سراسر ایران</h6>
                    </div>
                </div>
            </li>
            <li>
                <div class="service-block">
                    <img loading="lazy" src="../assets/images/svg-icon/2.svg" alt="">
                    <div>
                        <h6>برگشت و تعویض</h6>
                    </div>
                </div>
            </li>
            <li>
                <div class="service-block">
                    <img loading="lazy" src="../assets/images/svg-icon/3.svg" alt="">
                    <div>
                        <h6>پشتیبانی فنی</h6>
                        <p>پشتیبانی 24/7</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>


<section class="section-b-space">
    <div class="custom-container container">
        <div class="row gy-4">
            <div class="col-12">
                <div class="title-1">
                    <p>برتری ما<span></span></p>
                    <h3>برتری اولویت اول ماست.</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-icon">
                    <i class="iconsax" data-icon="blur"></i>
                    <h5>دسترسی آسان</h5>
                    <p>دانش‌آموزان و دانشجویان می‌توانند از هر مکانی که اینترنت دارد، به کلاس‌های آنلاین دسترسی پیدا کنند. این امر به ویژه برای افرادی که به دلیل مسافت یا شرایط خاص نمی‌توانند در کلاس‌های حضوری شرکت کنند، بسیار مفید است.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-icon">
                    <i class="iconsax" data-icon="diamonds"></i>
                    <h5>انعطاف پذیری در زمان</h5>
                    <p>کلاس‌های آنلاین معمولاً زمان‌بندی انعطاف‌پذیری دارند. دانش‌آموزان می‌توانند در زمان‌هایی که برایشان مناسب‌تر است، در کلاس‌ها شرکت کنند یا ویدئوهای ضبط شده را مشاهده کنند.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-icon">
                    <i class="iconsax" data-icon="media-sliders-3"></i>
                    <h5>کاهش هزینه ها</h5>
                    <p>شرکت در کلاس‌های آنلاین ممکن است هزینه‌های مربوط به حمل و نقل، اقامت و سایر هزینه‌های مرتبط با کلاس‌های حضوری را کاهش دهد.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-b-space pt-0">
    <div class="heading-banner">
        <div class="custom-container container">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h4>محصول</h4>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section-b-space pt-0 product-thumbnail-page" id="product-section">
    <div class="custom-container container">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="row sticky">
                    <div class="col-sm-2 col-3">
                        <div class="swiper product-slider product-slider-img">
                            <div class="swiper-wrapper">

                                @foreach (var product in Model)
                                {
                                    @if (!string.IsNullOrEmpty(product.ImageUrl))
                                    {
                                        <div class="swiper-slide">
                                            <img loading="lazy"
                                                 src="@product.ImageUrl"
                                                 class="product-image @(product.Id.ToString() == "11111111-1111-1111-1111-111111111111" ? "active-image selected-product" : "")"
                                                 data-id="@product.Id"
                                                 data-name="@product.Name"
                                                 data-description="@product.Description"
                                                 data-price="@product.Price"
                                                 data-image="@product.ImageUrl" />
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10 col-9">
                        <div class="swiper product-slider-thumb product-slider-img-1 p-2 bg-white rounded-xl shadow-sm">
                            <div class="swiper-wrapper ratio_square-2">
                                <div class="swiper-slide">
                                    <img loading="lazy" class="bg-img"
                                         src="~/assets/images/product/cover.jpg"
                                         alt="جلد">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-detail-box">
                    <div class="product-option">
                        <h3 id="product-name">@Model.First().Name</h3>
                        <p id="product-price">@Model.First().Price.ToString("N0")</p>
                        <div class="">
                            <p id="product-description">@Model.First().Description</p>
                        </div>
                        <div class="quantity-box d-flex align-items-center gap-3">
                            <div class="d-flex align-items-center gap-3 w-100">
                                <a class="btn btn_black sm w-100 text-center py-2 fw-bold fs-6 add-to-cart"
                                   style="height: 42px; font-size: 14px;"
                                   href="#"
                                   data-bs-toggle="offcanvas"
                                   data-bs-target="#offcanvasRight"
                                   aria-controls="offcanvasRight">افزودن به سبد خرید</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<div class="offcanvas offcanvas-end shopping-details" id="offcanvasRight" tabindex="-1" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvasRightLabel">سبد خرید</h4>
        <button class="btn-close" type="button" data-bs-dismiss="offcanvas" aria-label="بستن"></button>
    </div>
    <div class="offcanvas-body theme-scrollbar">
        <ul class="offcanvas-cart" id="cart-items">
            <!-- محصولات اضافه شده به سبد خرید در اینجا نمایش داده می‌شوند -->
        </ul>
    </div>
    <div class="offcanvas-footer">
        <div class="price-box">
            <h6>جمع کل :</h6>
            <p id="total-price">تومان 0</p>
        </div>
        <div class="cart-button">
            <a class="btn btn_outline" href="/Cart">مشاهده سبد خرید</a>
        </div>
    </div>
</div>


<section class="section-t-space">
    <div class="custom-container container">
        <div class="row">
            <div class="col-12 text-center mb-4">
                <h4>عکس‌های نمایشگاهمون</h4>
            </div>
            <div class="col-12">
                <div class="row gy-4 ratio_45">
                    <div class="col-md-4">
                        <div class="collection-banner">
                            <img loading="lazy" class="img-fluid" src="/assets/images/banner/IMG_20250310_220342_742_11_11zon.webp" alt="عکس نمایشگاه 1">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="collection-banner">
                            <img loading="lazy" class="img-fluid" src="/assets/images/banner/IMG_20250310_220342_980_12_11zon.webp" alt="عکس نمایشگاه 2">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="collection-banner">
                            <img loading="lazy" class="img-fluid" src="/assets/images/banner/IMG_20250310_220343_093_13_11zon.webp" alt="عکس نمایشگاه 3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section-b-space">
    <div class="custom-container container">
        <div class="row">
            <div class="col-12">
                <div class="title-1">
                    <p>نظرات جدیدترین<span></span></p>
                    <h3>بازخورد مشتریان ما</h3>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <a class="nav-link" data-bs-toggle="modal" data-bs-target="#addfeedback">افزودن بازخورد</a>
                        </li>
                    }
                </div>
            </div>
            <div id="feedbacks-list" class="col-12">
                <div class="swiper our-testimonials">
                    <div class="swiper-wrapper feadback-box">
                        <!-- بازخوردها اینجا به‌صورت داینامیک اضافه می‌شوند -->
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="reviews-modal modal theme-modal fade" id="addfeedback" tabindex="-1" role="dialog" aria-modal="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>افزودن بازخورد</h4>
                <button class="btn-close" id="add_feedBack_close" type="button" data-bs-dismiss="modal" aria-label="بستن"></button>
            </div>
            <div class="modal-body pt-0">
                <div class="row g-3">
                    <div class="col-6">
                        <div class="from-group">
                            <label class="form-label">مشتری</label>
                            <input class="form-control" id="CustomerName" type="text" placeholder="نام مشتری را وارد کنید.">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="from-group">
                            <label class="form-label">بازخورد</label>
                            <textarea id="FeedBackText" class="form-control" cols="30" rows="5" placeholder="بازخورد خود را بنویسید..."></textarea>
                        </div>
                    </div>
                    <button class="btn btn-submit" id="btn_submit" type="submit">ثبت</button>
                </div>
            </div>
        </div>
    </div>
</div>

@*
<section class="section-t-space">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-3 col-6">
                <div class="brand-logo-txt">
                    <div>
                        <h3>برندهای برتر</h3>
                        <h4>تا ۴۰٪ تخفیف</h4>
                        <div class="link-hover-anim underline">
                            <a class="btn btn_underline link-strong link-strong-unhovered" href="index.html">
                                خرید کن
                                اکنون
                                <svg>
                                    <use href="../assets/svg/icon-sprite.svg#arrow"></use>
                                </svg>
                            </a>
                            <a class="btn btn_underline link-strong link-strong-hovered" href="index.html">
                                خرید کن
                                اکنون
                                <svg>
                                    <use href="../assets/svg/icon-sprite.svg#arrow"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 col-6 p-0">
                <div class="swiper slide-2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide logo-block">
                            <a href="collection-left-sidebar.html">
                                <img src="../assets/images/logos/1.png" alt="لوگو">
                            </a>
                        </div>
                        <div class="swiper-slide logo-block">
                            <a href="collection-left-sidebar.html">
                                <img src="../assets/images/logos/2.png" alt="لوگو">
                            </a>
                        </div>
                        <div class="swiper-slide logo-block">
                            <a href="collection-left-sidebar.html">
                                <img src="../assets/images/logos/3.png" alt="لوگو">
                            </a>
                        </div>
                        <div class="swiper-slide logo-block">
                            <a href="collection-left-sidebar.html">
                                <img src="../assets/images/logos/4.png" alt="لوگو">
                            </a>
                        </div>
                        <div class="swiper-slide logo-block">
                            <a href="collection-left-sidebar.html">
                                <img src="../assets/images/logos/5.png" alt="لوگو">
                            </a>
                        </div>
                        <div class="swiper-slide logo-block">
                            <a href="collection-left-sidebar.html">
                                <img src="../assets/images/logos/6.png" alt="لوگو">
                            </a>
                        </div>
                        <div class="swiper-slide logo-block">
                            <a href="collection-left-sidebar.html">
                                <img src="../assets/images/logos/7.png" alt="لوگو">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> *@

@section Scripts {
    <script type="text/javascript" src="/Scripts/Home/Index.js"></script>
}

<script>
    var isAdmin = @User.IsInRole("Admin").ToString().ToLower();
</script>